@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.data-header::-webkit-scrollbar {
    display: none;
}

.data-header {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.data-header {
    overflow-x: auto;
    white-space: nowrap;
}

.section {
    padding-top: 100px;
    margin-top: -80px;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}